.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  border: 1px solid black;
  border-radius: 8px;
  padding: 4rem 4rem 2rem;
  width: 30em;
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}

.form-group input {
  height: 2rem;
}

.form-group input[type="date"] {
  font-family: Arial, Helvetica, sans-serif;
}

.form-group textarea[type="text"] {
  /* font-size: 1.2rem;
  padding: 2px 4px; */
  font-family: Arial, Helvetica, sans-serif;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.form-group input,
.form-group textarea,
.form-group select {
  border-radius: 4px;
  /* padding: 2px; */
  margin-top: 2px;
  font-size: 1.2rem;
  padding: 2px 4px;
}

.form-group select {
  padding: 0px;
  height: 2rem;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.submit-button {
  width: fit-content;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  margin: 1rem auto 0;
  border: none;
  color: white;
  /* background-image: linear-gradient(#42A1EC, #0070C9); */
  background-image: linear-gradient(#5aacea, #0070C9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  font-size: 1rem;
}

.submit-button:hover {
  /* background-image: linear-gradient(#3e97db, #0065b8); */
  background-image: linear-gradient(#51a0dc, #0065b8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

label {
  font-size: 1.1rem;
  font-weight: bold;
}

:disabled, .form-group select:disabled {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 0.8;
  border: 1px solid #ccc;
}

.error {
  border: 2px solid red;
  box-shadow: 0 0 4px red;
  outline: none;
}

.error-message {
  color: red;
  margin-top: 4px;
  display: flex;
  font-size: 12px;
}

.error-message .error-icon {
  margin: 0 4px;
}