.pagination-bar-container {
  margin: 20px;
}

.page-indicator {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-flex;
}

.pagination-bar-btn {
  border: none;
  background-image: linear-gradient(#5aacea, #0070C9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  line-height: 1.15385;
  margin: 0 16px;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

.pagination-bar-btn:hover {
  background-image: linear-gradient(#51a0dc, #0065b8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.pagination-bar-btn:disabled {
  opacity: 0.25;
  cursor:auto;
}

/* .pagination-bar-btn {
  padding: 8px 1rem;
  margin: 0 30px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.pagination-bar-btn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 18px;
}

@keyframes glowing-button {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.pagination-bar-btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 18px;
} */
