.table {
  /* border: 1px solid black; */
  border-radius: 10px;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  overflow: hidden;
  table-layout: auto;
  box-shadow: 0 4px 10px rgb(170, 170, 170);
}

.table thead {
  /* background: rgb(238,174,202); */
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(187,181,220,1) 50%, rgba(148,187,233,1) 100%);
  /* background-color:; */
  /* background-image: linear-gradient(90deg, rgb(200, 200, 200),rgb(150, 150, 150)); */
  box-shadow: 0 2px 4px #ddd;
}

.table th, .table td {
  padding: 1rem;
  /* max-width: 250px; */
  /* overflow: auto; */
  /* text-overflow: ellipsis; */
  /* white-space:nowrap; */
}

/* CSS */
.cell-content {
  max-width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* cursor: pointer; */
  position: relative;
}

.text-content {
  max-height: 1.5rem;
  /* overflow: hidden; */
}

.text-content.expanded {
  max-height: none;
}

.job-row.expanded .cell-content {
  max-width: 250px;
  white-space: normal;
  overflow: auto;
}



.table td {
  cursor: pointer;
}

.table-body > *:not(:first-child) {
  border-top: 1px solid #eee;
}

.job-row:hover {
  background-color: #eee;
}

.actions{
  display: flex;
  justify-content: center;
  align-items: center;
}

#edit-icon {
  margin: 0 5px 0 0;
  cursor: pointer;
  font-size: 1.3rem;
}

#delete-icon {
  color: red;
  margin: 0 0 0 5px;
  cursor: pointer;
  font-size: 1.3rem;
}

.customized-tooltip {
  font-family: Arial, Helvetica, sans-serif;
}

.entries-summary {
  position: absolute;
  right: 0;
  padding: 14px 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}