.table {
  border-radius: 10px;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  table-layout: fixed;
  box-shadow: 0 4px 10px rgb(170, 170, 170);
  width: 100%;
}

.table thead {
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(187,181,220,1) 50%, rgba(148,187,233,1) 100%);
  box-shadow: 0 2px 4px #ddd;
}

.title {
  width: 20%;
}

.company {
  width: 13%;
}

.url {
  width: 14%;
}

.applicationStatus, .submissionDate, .response {
  width: 10%;
}

.notes {
  width: 15%;
}

.actions {
  width: 8%;
}

.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table thead th {
  padding: 1rem;
  white-space:normal;
} 

.table tbody td {
  padding: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
}

.applicationStatus .cell-content, .submissionDate .cell-content, .response .cell-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-content {
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-content.expanded {
  max-height: 10rem;
  overflow: visible;
  white-space: pre-line;
}

.job-row.expanded .cell-content {
  white-space: normal;
  overflow: auto;
}

.table td {
  cursor: pointer;
}

.table-body > *:not(:first-child) {
  border-top: 1px solid #eee;
}

.job-row:hover {
  background-color: #eee;
}

#edit-icon {
  margin: 0 5px 0 0;
  cursor: pointer;
  font-size: 1.3rem;
}

#delete-icon {
  color: red;
  margin: 0 0 0 5px;
  cursor: pointer;
  font-size: 1.3rem;
}

.customized-tooltip {
  font-family: Arial, Helvetica, sans-serif;
}

.entries-summary {
  position: absolute;
  right: 0;
  padding: 16px 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  z-index: 1;
}