.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.content-container {
  position: relative;
  width: fit-content;
  padding: 50px 0 60px 0;
  /* background-color: aqua; */
}

.button-container {
  position: absolute;
  top: 0;
  right: 0px;
}

.add-job-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 140px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  /* background-image: linear-gradient(#42A1EC, #0070C9); */
  background-image: linear-gradient(#5aacea, #0070C9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.add-job-button:hover {
  /* background-image: linear-gradient(#00cf64,#009b43); */
  /* background-image: linear-gradient(#3e97db, #0065b8); */
  background-image: linear-gradient(#51a0dc, #0065b8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background: #bbb; 
  border-radius: 10px;
}